/*inport font family*/
/*rubik, lato and playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*========================================== variabels ============================================*/

:root{
  --themeGreen:#08d565;
  --themeBlack:#282c34;
  --themeBlue:#272b44;
  --DarkNavyBlue: #1f2336;
  --whiteColor:#fff;
  --latoFont:'Lato', sans-serif;
  --rubicFont: 'Rubik', sans-serif;
  --playFairFont:'Playfair Display', serif;
}

/*========================================== ./variabels ============================================*/
/*========================================== common css for all ============================================*/

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* *{
  border:1px solid red
} */
.themeBlueBg{
  background: var(--themeBlue);
}
.darknavyBg{
  background: var(--DarkNavyBlue);
}
.themeBlueText{
  color: var(--themeBlue);
}
.greenColor{
  color: var(--themeGreen);
}
.greenBgColor{
  background-color: var(--themeGreen);
}
.navyBorder{
  border: 1px solid var(--DarkNavyBlue);
}
.f600{
  font-weight:600;
}
a{
  text-decoration: none !important;
}
.form-control:focus {
  color: #212529;
  background-color: var(--whiteColor);
  outline: 0;
  box-shadow: none !important;
}
.latoFont{
  font-family: var(--latoFont);
}
.rubicFont{
  font-family: var(--rubicFont);
}
.playfairFont{
  font-family: var(--playFairFont);
}
.italicBold{
  font-style: italic;
  font-weight: 600;
}
.pointer {cursor: pointer;}

.Centerflex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aroundflex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.betweenflex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App {
  text-align: center;
}
.ellipsis3 {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5; /* Adjust based on your design */
  max-height: calc(1.5em * 3); /* 3 lines * line-height */
}

/*========================================== ./common css for all ============================================*/
/*========================================== header Css ============================================*/

.logoStyle{
  font-style: normal;
  font-weight: 900;
  color: var(--themeGreen);
}
.cartBadge{
  background: var(--themeGreen) !important;
  font-size: 10px !important;
}
sup{
  top: -1rem!important;
  right: 0.45rem !important;
}
.HeaderMenu a{
  color: var(--whiteColor) !important;
}
.HeaderMenu a:hover{
  color: var(--themeGreen) !important;
  transition-duration: .5s;
}
.menuWidth{
  width: calc(100% - 240px);
}

/*========================================== ./header Css ============================================*/
/*========================================== homepage  Css ============================================*/
.nameIntro{
  height: 100%;
}
.portfolioBgImage{
  background-image: url('./images/homeBg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navyBg{
  background: var(--DarkNavyBlue);
}
.rotateImage{
  rotate: 351deg !important;
}
.mainContent{
  width: calc(100% - 80px);
  border: 1px solid var(--DarkNavyBlue);
}
.greenStrip{
  background: url("./images/greenStrip.png") no-repeat ;
  background-position: right 14% top 0%;
}

.selfImage {
  min-width: 400px !important;
  max-width: 500px !important;
}



/*========================================== ./homepage  Css ============================================*/
/*========================================== sidenavigator  Css ============================================*/

.sideNavigator{
  width: 80px;
  height: calc(100vh - 160px);
}
.socialIconBorder:hover{
  border:1px solid var(--themeGreen) !important;
}
/*========================================== ./sidenavigator  Css ============================================*/
/*========================================== ./ServicePage Css ============================================*/

.serviceHeadig:hover{
  color: var(--themeGreen);
  cursor: pointer;
}
.serviceNumber{
  font-size: 96px;
  position: absolute;
  right: 92px;
  top: -65px;
  color: #3a3c4c;
}

/*========================================== ./ServicePage Css ============================================*/
/*========================================== MyPortfolio Css ============================================*/


.innerImage:hover{
  opacity: .3;
}
.outerImage:hover, .projectName:hover outerImage{
  background-color: var(--themeGreen);
  transition: .5s;
}
.outerImage:hover .projectName{
  display: block;
}
.projectName {
display: none;
}

.orbitImage{
  animation: circle 10s linear infinite;
}

  /*========================================== ./MyPortfolio Css ============================================*/

  /*========================================== Contact us Css ============================================*/
.divider{
  border-bottom: none;
}

    /*========================================== ./Contact us Css ============================================*/

  /*========================================== animation Css ============================================*/

  @keyframes circle{
0%{
  transform:rotate(0deg)
}
100%{
  transform:rotate(360deg)
}
}

  /*========================================== ./animation Css ============================================*/
/*water drop card*/
.SkillCard{

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0px;
  margin-left: 15px;
}
.SkillCard .drop{
  position: relative;
  width: 350px;
  height: 350px;
  box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05), 25px 35px 20px rgba(0,0,0,0.05), 25px 30px 30px rgba(0,0,0,0.05), inset -20px -20px 25px rgba(255, 255, 255, 0.9);
}
.SkillCard .drop:nth-child(1){
  border-radius:41% 59% 45% 55% / 42% 52% 48% 58% ;
}
.SkillCard .drop:nth-child(2){
  border-radius: 61% 39% 61% 39% / 33% 52% 48% 67%   ;
}
.SkillCard .drop:nth-child(3){
  border-radius: 47% 53% 61% 39% / 33% 51% 49% 67%  ;
}

.SkillCard .drop:hover{
  border-radius: 50%;
}

.SkillCard .drop::before{
  content: '';
  position: absolute;
  top:50px;
  left:85px;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
  opacity: .9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SkillCard .drop::after{
  content: '';
  position: absolute;
  top:90px;
  left:115px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 50%;
  opacity: .9;
}
.content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  gap :15px;

}
.cartHeading{
  position: relative;
  width: 140px;
  height: 140px;
  background: #eff0f4;
  border-radius: 50%;
  box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.01), inset -2px -5px 10px rgba(255, 255, 255, 1), 15px 15px 10px rgba(0, 0, 0, 0.05), 15px 10px 15px rgba(0, 0, 0, 0.025);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

  color: var(--clr);
}
.readMoreLink{
  position: relative;
  padding: 6px 18px;
  background-color: var(--clr);
  background-color: #ff0f5b;

  text-decoration: none;
  color: white;
  border-radius: 25px;
  font-weight: 500;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  opacity: .75;
  transition: 0.5s;
}
.readMoreLink:hover{
  opacity: 1;
  color:white !important;
}
.readMoreLink::before{
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  transform:translateX(-50%);
  width: 65%;
  height: 3px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}
.SkillCardCarousel .owl-nav button{
  background: red;
  border: 1px solid red;
  padding: 10px;
}
.SkillCard .drop:nth-child(1){
  border-radius:41% 59% 45% 55% / 42% 52% 48% 58% ;
}


.prenavigate,
.postnavigate {
    border: 3px solid;
    padding: 0px 11px !important;
    border-radius: 3px;
    color: var(--themeGreen);
    position: absolute;
    width: 45px;
    height: 45px;
    font-size: x-large;
    font-weight: bolder;
}
.prenavigate{
  left: 45%;
}
.postnavigate{
  right: 45%;
}
.prenavigate:focus-visible,
.postnavigate:focus-visible {
    border: 2px solid var(--themeGreen);
    outline: none !important;
}
.owl-nav button span{
  border: 2 px solid ;
  right: 40%;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 33px;
  padding-bottom: 10px;
  font-weight: 700;

}

input#EmailId:focus, input#FirstName:focus, input#LastName:focus, textarea#Message:focus   {
  background: #1f2336;
  border: 1px solid var(--themeGreen);
  color: white;
}
input#EmailId, input#FirstName:focus, input#LastName:focus, textarea#Message:focus   {
  color: white;
}
.form-check-input:checked {
  background-color: var(--themeGreen);
  border-color: var(--themeGreen);
}
.form-check-input:focus {
  border-color: var(--themeGreen);
  outline: 0;
  box-shadow: 0 0 7px 5px #08d56540;
}

.discription{
  display:none;
}
.projectCard:hover .discription{
  display:block;
  transition-duration: .5s;
}

.ProjectContainer{
    position: relative;
  display: flex;
  padding: 80px 40px ;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
.projectCard{
  position: relative;
  width: 350px;
  height: 180px;
  transition: .3s;
}
.projectCard:hover{
  height: 455px;
}
.Borderline{
  position: absolute;
  inset: 0;
  background: black;
  overflow: hidden;
}
.Borderline::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 120px;
  background-image: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
  animation: animate 4s linear infinite;
  animation-play-state: paused;
}
.projectCard:hover .Borderline::before{
  animation-play-state: running;
}

.Borderline::after{
  content: '';
  position: absolute;
  inset: 3px;
  background:#292929;
}
.imageSection{
  position: absolute;
  top: -60px;
  left: 50%;
  width: 150px;
  height: 150px;
  transform: translateX(-50%);
  background: black;
  transition: .5s;
  z-index: 10;
  overflow: hidden;
display: flex;
  justify-content: center;
  align-items: center;
}
.projectCard:hover .imageSection{
  top: 25px;
  width: 200px;
  height: 200px;
}
.imageSection::before{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  height: 150px;
  background-image: linear-gradient(transparent, #ff3c7b,#ff3c7b, #ff3c7b, transparent );
  animation: animate2 6s linear infinite;
  animation-play-state: paused;
}
.projectCard:hover .imageSection::before{
  animation-play-state: running;
}
.imageSection::after{
 content: '';
  position: absolute;
  inset: 3px;
  background: #292929;
}
.imageSection img{
  position: absolute;
  width: 143px;
  z-index: 1;
  transition: 0.5s;
}
.projectCard .Content{
position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.Content .details {
  padding: 10px 20px 20px 20px ;
  text-align: center;
  width: 100%;
  transition: .5s;
  transform: translateY(145px );
}
.projectCard:hover .details{
  transform: translateY(0px );
}
.details h2{
 font-size: 1.5em;
  font-weight: 500;
  color:#45f3ff;
}
.projectCard:hover .details h2{
  line-height: 2em;
}
.details p{
  color: white;
  opacity: 0;
  transition: .5s;
}
.projectCard:hover .details p{
  opacity: 1;
}
.projectCardBtn{
  letter-spacing: 0.5px;
  background: #45f3ff;
  color: black;
  font-weight: 300;
}
@keyframes animate {
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes animate2 {
  0%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100%{

    transform: translate(-50%, -50%) rotate(0deg);
  }
}

/*----------------------------------------- Media Query ----------------------------------------*/

@media only screen and (max-width: 600px) {
  .HelloEveryOne{
    margin-top: 1rem !important;
  }
  .divider{
    border-bottom: 2px solid;
  }
  .nameIntro{
    height: unset;
  }
  .HelloEveryOne{
    font-size: 1.7rem !important;
    margin-top: 4rem;
  }
  .DeveloperName, .Degination{
    font-size: 3rem !important;
   text-align: center;
    margin-top: 1rem;
  }
  .TotalProject{
    left: 17% !important;
  }
  .WorkDiscription{
    font-size: 2rem;
    line-height: 50px;
    width: 100% !important;
  }
  .serviceNumber{
    right: 10% !important;
  }
  .Portfolio{
    font-size: 2.5rem;
  }
  .introSection{
    height: calc( 100vh - 136px );
  }
  .selfImage{
    min-Width: unset !important
    /* max-Width: '500px' */
  }
}